.button {
    background-color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.button:hover {
    background-color: #e7e5e5;
}

.button:active {
    background-color: #c7c7c7;
}
