*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    min-height: 100vh;
}

.main {
    background-color: aqua;
    min-height: 100vh;
}

.red {
    background-color: #e40303;
}

.orange {
    background-color: #ff8c00;
}

.yellow {
    background-color: #ffed00;
}

.green {
    background-color: #008026;
}

.indigo {
    background-color: #24408e;
}

.violet {
    background-color: #732982;
}

.lightblue {
    background-color: #5bcefa;
}

.pink {
    background-color: #f5a9b8;
}
